.Data {
  display: flex;
  flex-direction: row;
}

table {
  width: 100%;
  height: 100%;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3%;
  font-size: large;
}

tr > td:first-child {
  font-weight: 600;
  padding-left: 10px;
}
tr > td:nth-child(2) {
  padding: 5px;
  text-align: right;
}

.dataPane {
  background-color: #2ddec5d1;
  color: white;
  background-image: linear-gradient(115deg, #040801eb, transparent);
}

.header {
  background-image: linear-gradient(45deg, #110c50f2, #131514ed);
  justify-content: center;
  color: white;
}

.Map{
  border: "black solid 1px",
}

.tooltip{
    color: white;
    background-color: #052c79c2;
    border: #e8e3e31c;
    font-size: 0.8em;
}

div.tooltip:hover{
  color: white;
  background-color: #869bc5c2;
  border: #e8e3e31c;
  font-size: 1em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .dataPane {
    /* width: 30%; */
    min-height: 100px;
  }
  .Title{
    font-size: 1.2em;
  }
  .header{
    padding: 20px;
    padding-top: 10px;
  }
  .Map{
    height: 80vh;
    zoom: 0.60;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .dataPane {
    /* width: 30%; */
    min-height: 100px;
  }
  .Title{
    font-size: 1.2em;
  }
  .header{
    padding: 20px;
    padding-top: 10px;
  }
  .Map{
    height: 80vh;
    zoom: 0.70;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
  }
  .Map {
    width: 70%;
    height: 80vh;
    zoom: 0.8;
  }
  .dataPane {
    width: 30%;
  }
  .Title{
    font-size: 2em;
  }
  .header{
    padding: 20px;
    margin-bottom: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
  }
  .Map {
    width: 70%;
    height: 80vh;
    zoom: 1;
  }
  .dataPane {
    width: 30%;
  }
  .Title{
    font-size: 2em;
  }
  .header{
    padding: 20px;
    margin-bottom: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
